@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

body,html {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 3926px 0 0 0;
    width: 100%;
    height: 235px;
    background: #F1F1F1;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.logo{
  position: fixed;
  width: 110px;
  height: 110px;
  left: 120px;
  bottom: 49px;
}

.CitiBox{
  position: fixed;
      width: 244.4px;
      height: 80px;
      right: 119.9px;
      bottom: 49px;
}

    .instagram{
      position: fixed;
      width: 25px;
      height: 25px;
      right: 206px;
      bottom: 109px;
    }
  
    .youtube{
      position: fixed;
      width: 28px;
      height: 21px;
      right: 163px;
      bottom: 111px;
    }
    
    .google{
      position: fixed;
      width: 25px;
      height: 25px;
      right: 123px;
      bottom: 109px;
    }

.p{
font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;

}

.mensagem{
  position: fixed;
  right: 164.3px;
  bottom: 40px;
}

.citizinho{
  position: fixed;
  width: 36.4px;
  height: 19.5px;
  right: 125px;
  bottom: 61px;
}
