.banner{
    display: flex;
    flex-direction: row;
}

.banner .banner-text{
    align-items: center;
    justify-content: center;
    margin: 0px 0 0 100px;
}

.banner .banner-text h1{
    color: #040507;
    width: 530px;
    font-size: 38px;
    margin-bottom: 0;
    text-align: left;
}

.banner .banner-text p{
    width: 600px;
    font-size: 20px;
    margin-bottom: 0;
    text-align: justify;
}

.banner .banner-image{
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.banner .banner-image img{
    min-width: 800px;
    margin-left: 222px;
    position: left;
    transform: translate(229px,25px);
} 
.banner body{
    overflow-x: hidden;
}

.banner .text-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1200px){

    .text-container{
        width:100%;
        align-items: center;
        justify-content: center;
        margin: 405px 0 0 100px;
    }
   
}
    


